//
// solana-variables.scss
// Use this to overwrite Bootstrap and Dashkit variables
//

// Example of a variable override to change Dashkit's background color
// Remove the "//" to comment it in and see it in action!
$body-bg: #12131A !default;

$black: #232323;
$white: #fff !default;
$gray-600: #86b8b6;
$gray-500-dark: #2A2A36 !default;
$gray-600-dark: #A1A5C1 !default;
$gray-700-dark: #282d2b !default;
$gray-800-dark: #1A1B23 !default;
$black-dark: #141816 !default;
$input-placeholder-color: $gray-600-dark !default;

$primary: #765EBC !default;
$success: #26e97e !default;
$warning: #fa62fc !default;
$card-border-color: $gray-700-dark !default;
$card-outline-color: #111 !default;

$input-bg: transparent !default;
$input-border-color: $gray-600-dark !default;
$input-group-addon-color: $white !default;

$theme-colors: (
  "black": $black,
  "gray": $gray-600,
  "gray-dark": $gray-800-dark,
);
