.mt-24 {
  margin-top: 24px !important;
}

.mr-8 {
  margin-right: 8px !important;
}

.mb-8 {
  margin-bottom: 8px !important;
}

.mb-16 {
  margin-bottom: 16px !important;
}

.mb-24 {
  margin-bottom: 24px !important;
}

.ml-8 {
  margin-left: 8px !important;
}

.ml-16 {
  margin-left: 16px !important;
}

.pointer {
  cursor: pointer;
}

.flex {
  display: flex;
}

.text-14 {
  font-size: 14px;
}

.text-24 {
  font-size: 24px;
}

.bold {
  font-weight: bold;
}