$renec-primary: #21D969;
$renec-border-color: #3A3F5D;
$renec-primary-bg: #12193d;
$renec-secondary-bg: #060814;
$renec-text-second: #888C9E;
$renec-green-secondary: #14823F;

$renec-black-400: #3A3F5D;
$renec-black-700: #0C1129;

