.table {
  tbody {
    background-color: $renec-secondary-bg;

    tr, td, th {
      border: none;
    }
  }

  thead th, tbody th {
    text-transform: uppercase;
    color: $renec-text-second !important;
    font-weight: normal !important;
  }

  thead th, tbody th, tbody td {
    vertical-align: middle;
  }

  tr:last-child td:first-child {
    border-bottom-left-radius: 8px;
  }

  tr:last-child td:last-child {
    border-bottom-right-radius: 8px;
  }

  tr:first-child th:first-child {
    border-top-left-radius: 8px;
  }

  tr:first-child th:last-child {
    border-top-right-radius: 8px;
  }

  a[class*="text-reset"]:hover {
    color: $link-color !important;
  }

  tr:nth-child(even) {
    background-color: $renec-black-700;
  }
}

.table-sm {
  font-size: $font-size-sm;
}

.table-sm thead th {
  font-size: $font-size-xs;
}

.table-nowrap {
  th, td {
    white-space: nowrap;
  }
}

.table [data-sort] {
  white-space: nowrap;

  &::after {
    content: str-replace(url("data:image/svg+xml;utf8,<svg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M3 0L6 4H0L3 0ZM3 10L0 6H6L3 10Z' fill='#{$text-muted}'/></svg>"), "#", "%23");
    margin-left: .25rem;
  }
}


